@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Hello There!</h1>

    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="input"></label><br />
                <input asp-for="input" /><br />
                <span asp-validation-for="input" class="text-danger"></span><br />
                <br />
                @{
                    if (Model.lastEntry.HasValue)
                    {
                        <span>@Model.lastEntry.Value.result</span>
                    }
                }
            </div>
        </div>
    </form>
</div>
