@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Hello @Model.Name</h1>
    <form method="post">
        <label asp-for="Address.Street"></label>
        <input asp-for="Address.Street" /><br />
        <label asp-for="Address.Number"></label>
        <input asp-for="Address.Number" /><br />
        <label asp-for="Address.ZipCode"></label>
        <input asp-for="Address.ZipCode" /><br />
        <label asp-for="Address.City"></label>
        <input asp-for="Address.City" /><br />
        <button type="submit">Zatwierdź</button>
    </form>
</div>
